head {
    padding: 10px;
    height: 120px;
    width: 100%; 
    background-color: #76453B;
}

button {
    background-color: #f8fae5;
    color: #76453b;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 9px 9px;
    cursor: pointer;
    border-radius: 40px;
}

button:hover {
    background-color: white;
}

.carousel-inner {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
}

#carouselExampleRide {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-item {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.container-fluid {
    background-color: #76453B;
}

footer {
    background-color: #333;
    color: #f8fae5;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

body {
    text-align: center;
    background-color: #76453b;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #76453B;
    padding: 10px;
}

#logo {
    margin-right: 200px;
    margin-left: 100px;
}

.navbar-brand img {
    height: 50px;
    width: auto;
}

.navbar .form-control {
    margin-left: 20px;
    margin-right: 20px;
    width: 200px;
}

.navbar .nav-link {
    color: white !important; /* Força a cor branca */
}

.navbar .nav-link:hover {
    color: #f8fae5; 
}

.navbar .navbar-brand,
.navbar-toggler {
    color: white; 
}

button i {
    font-size: 16px; 
}

.btn-outline-success {
    border-radius: 10px;
    width: 10px;
    background-color: ; /* Cor de fundo */
    border: none; /* Remove borda */
    color: #76453b; /* Cor do texto */
}

.btn-outline-success:hover {
    fill: azure;
    background-color: #e0e0e0; /* Cor de fundo no hover */
    border: none; /* Remove borda no hover */
}

.btn-outline-success:focus {
    box-shadow: none; 
}
.form-control-me-2 {
    background: none;
    border-radius: 10px;
    border: 1px solid white;
    padding: 0px 10px 0px 5px;
    color: white;
}
.anuncios {
    background-color: #f8f8f8; /* Cor de fundo para a seção de anúncios */
    padding: 20px;
    text-align: center; /* Centraliza o texto */
}

.anuncios h2 {
    color: #76453B; /* Cor do título */
    margin-bottom: 20px; /* Espaço abaixo do título */
}

.anuncios-container {
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap; 
    margin: 0; 
    background-color:#f8fae5 ;
}

.anuncio {
    background-color: transparent; /
    border: none; 
    box-shadow: none; 
    padding: 0; 
    margin: 10px; 
    width: auto; 
}
.anuncio img {
    width: 700px; /* Faz a imagem ocupar toda a largura do contêiner */
    height: auto; 
    border-radius: 10px; 
}

.anuncio p {
    color: #333; 
    margin-top: 10px; /* Adiciona um espaço acima da descrição */
}
